@import-normalize; /* bring in normalize.css styles */

body {
  background-image: url('../pngwing.com.png');
  background-position: 50% 550px;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,1);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
}

p,
ul {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
